<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Overlap task</title>
</head>
<body>
    <form method="POST">
      {% csrf_token %}
      <h3>Slot 1</h3>
      Day: <input type="text" name="day1"><br>
      Start: <input type="time" name="start1"><br>
      End: <input type="time" name="end1"><br>

      <h3>Slot 2</h3>
      Day: <input type="text" name="day2"><br>
      Start: <input type="time" name="start2"><br>
      End: <input type="time" name="end2"><br>

      <br>
      <button type="submit">Check Overlap</button>
    </form>

  {% if result %}
    <p><strong>No Overlap</strong></p>
  {% else %}
    <p><strong>Overlap Detected</strong></p>
  {% endif %}
</body>
</html>