.fade-out {
  animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
::placeholder{
    opacity: 0.5 !important;
}

.error{
    color: red;
    opacity: 0.6;
}