.fade-out {
  animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
::placeholder{
    opacity: 0.5 !important;
}

.error{
    color: red;
    opacity: 0.6;
}
/*.time::-webkit-datetime-edit-ampm-field{*/
/*    display: none;*/
/*}*/
/*input[type=time]::-webkit-clear-button {*/
/*   -webkit-appearance: none;*/
/*   -moz-appearance: none;*/
/*   -o-appearance: none;*/
/*   -ms-appearance:none;*/
/*   appearance: none;*/
/*   margin: -10px;*/
/* }*/